<%/*
#############################################################
#     ‚ĖĄ‚ĖĄ    ‚ĖĄ‚ĖĄ             ‚ĖĄ   ‚ĖĄ‚ĖĄ‚ĖĄ‚ĖĄ  ‚ĖĄ‚ĖĄ‚ĖĄ     ‚ĖĄ‚ĖĄ‚ĖĄ    ‚ĖĄ‚ĖĄ‚ĖĄ‚ĖĄ‚ĖĄ   #
#   ‚ĖĄ‚Ėą‚ĖÄ‚ĖÄ‚Ėą‚ĖĄ   ‚Ėą‚Ėą            ‚ĖÄ‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą‚ĖÄ   ‚Ėą‚Ėą‚Ėą‚ĖĄ ‚ĖĄ‚Ėą‚Ėą‚Ėą    ‚Ėą‚Ėą‚ĖÄ‚ĖÄ‚ĖÄ‚ĖÄ‚Ėą‚ĖĄ #
#   ‚Ėą‚Ėą  ‚Ėą‚Ėą   ‚Ėą‚Ėą              ‚Ėą‚Ėą       ‚Ėą‚Ėą ‚ĖÄ‚Ėą‚ĖÄ ‚Ėą‚Ėą    ‚ĖÄ‚Ėą‚Ėą‚ĖĄ  ‚ĖĄ‚ĖÄ #
#   ‚Ėą‚Ėą‚ĖÄ‚ĖÄ‚Ėą‚Ėą   ‚Ėą‚Ėą ‚ĖĄ‚Ėą‚ĖÄ‚Ėą‚ĖĄ‚ĖÄ‚Ėą‚Ėą ‚Ėą‚Ėą‚ĖÄ ‚Ėą‚Ėą       ‚Ėą‚Ėą     ‚Ėą‚Ėą      ‚ĖÄ‚Ėą‚Ėą‚ĖĄ‚ĖĄ  #
# ‚ĖĄ ‚Ėą‚Ėą  ‚Ėą‚Ėą   ‚Ėą‚Ėą ‚Ėą‚Ėą‚ĖĄ‚Ėą‚ĖÄ  ‚Ėą‚Ėą‚Ėą   ‚Ėą‚Ėą       ‚Ėą‚Ėą     ‚Ėą‚Ėą    ‚ĖĄ   ‚ĖÄ‚Ėą‚Ėą‚ĖĄ #
# ‚ĖÄ‚Ėą‚Ėą‚ĖÄ  ‚ĖÄ‚Ėą‚ĖĄ‚Ėą‚ĖĄ‚Ėą‚Ėą‚ĖĄ‚ĖÄ‚Ėą‚ĖĄ‚ĖĄ‚ĖĄ‚ĖĄ‚Ėą‚Ėą ‚Ėą‚Ėą‚ĖĄ ‚ĖÄ‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą ‚ĖÄ‚Ėą‚Ėą‚ĖÄ     ‚ĖÄ‚Ėą‚Ėą‚ĖĄ  ‚ĖÄ‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą‚ĖÄ #
#############################################################
*/%>
<h1><%= pageMenu.name %></h1>
<% files.forEach(f => { %>
  <div>
    <a href="/download/<%= f.id %>"><%= f.name %></a><br>
    <%- lang === 'en' ? f.description_en : f.description_hu %>
    <%= lang === 'en' ? 'Size' : 'M√©ret' %>: <%= f.size %><br>
    <%= lang === 'en' ? 'Downloads' : 'Let√∂lt√©sek' %>: <%= f.downloads %>

    <% if (f.link) { %>
      <a href="<%= f.link %>" target="_blank"><%= lang === 'en' ? 'ūüĒó Link' : 'ūüĒó Link' %></a>
    <% } %>

    <% if (user && user.username) { %>
      <a href="/admin/downloads/load/<%= f.id %>"><%= lang === 'en' ? 'Edit' : 'Szerkeszt√©s' %></a>

      <form method="POST"
            action="/admin/downloads/delete/<%= f.id %>" style="display:inline;"
            class="js-confirm-delete"
            data-message="<%= lang === 'en'
              ? 'Are you sure you want to delete this file?'
              : 'Biztos t√∂rl√∂d ezt a f√°jlt?' %>">
        <button type="submit">
            <%= lang === 'en' ? 'Delete' : 'T√∂rl√©s' %>
        </button>
      </form>
    <% } %>
  </div>
<% }) %>
<% if (user && user.username) { %>
  <script src="/public/js/delete.js" defer></script>
<% } %>
