<%/*
#############################################################
#     ‚ĖĄ‚ĖĄ    ‚ĖĄ‚ĖĄ             ‚ĖĄ   ‚ĖĄ‚ĖĄ‚ĖĄ‚ĖĄ  ‚ĖĄ‚ĖĄ‚ĖĄ     ‚ĖĄ‚ĖĄ‚ĖĄ    ‚ĖĄ‚ĖĄ‚ĖĄ‚ĖĄ‚ĖĄ   #
#   ‚ĖĄ‚Ėą‚ĖÄ‚ĖÄ‚Ėą‚ĖĄ   ‚Ėą‚Ėą            ‚ĖÄ‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą‚ĖÄ   ‚Ėą‚Ėą‚Ėą‚ĖĄ ‚ĖĄ‚Ėą‚Ėą‚Ėą    ‚Ėą‚Ėą‚ĖÄ‚ĖÄ‚ĖÄ‚ĖÄ‚Ėą‚ĖĄ #
#   ‚Ėą‚Ėą  ‚Ėą‚Ėą   ‚Ėą‚Ėą              ‚Ėą‚Ėą       ‚Ėą‚Ėą ‚ĖÄ‚Ėą‚ĖÄ ‚Ėą‚Ėą    ‚ĖÄ‚Ėą‚Ėą‚ĖĄ  ‚ĖĄ‚ĖÄ #
#   ‚Ėą‚Ėą‚ĖÄ‚ĖÄ‚Ėą‚Ėą   ‚Ėą‚Ėą ‚ĖĄ‚Ėą‚ĖÄ‚Ėą‚ĖĄ‚ĖÄ‚Ėą‚Ėą ‚Ėą‚Ėą‚ĖÄ ‚Ėą‚Ėą       ‚Ėą‚Ėą     ‚Ėą‚Ėą      ‚ĖÄ‚Ėą‚Ėą‚ĖĄ‚ĖĄ  #
# ‚ĖĄ ‚Ėą‚Ėą  ‚Ėą‚Ėą   ‚Ėą‚Ėą ‚Ėą‚Ėą‚ĖĄ‚Ėą‚ĖÄ  ‚Ėą‚Ėą‚Ėą   ‚Ėą‚Ėą       ‚Ėą‚Ėą     ‚Ėą‚Ėą    ‚ĖĄ   ‚ĖÄ‚Ėą‚Ėą‚ĖĄ #
# ‚ĖÄ‚Ėą‚Ėą‚ĖÄ  ‚ĖÄ‚Ėą‚ĖĄ‚Ėą‚ĖĄ‚Ėą‚Ėą‚ĖĄ‚ĖÄ‚Ėą‚ĖĄ‚ĖĄ‚ĖĄ‚ĖĄ‚Ėą‚Ėą ‚Ėą‚Ėą‚ĖĄ ‚ĖÄ‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą ‚ĖÄ‚Ėą‚Ėą‚ĖÄ     ‚ĖÄ‚Ėą‚Ėą‚ĖĄ  ‚ĖÄ‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą‚ĖÄ #
#############################################################
*/%>
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="/public/favicon.png" type="image/png">
  <link rel="shortcut icon" href="/public/favicon.png">
  <title><%= typeof site_title !== 'undefined' ? site_title : 'AlexCMS' %></title>
  <meta name="description" content="<%= meta_description !== 'undefined' ? meta_description : '' %>">
  <meta name="keywords" content="<%= meta_keywords !== 'undefined' ? meta_keywords : '' %>">
  <meta name="robots" content="index, follow">
  <link rel="stylesheet" href="/public/style.css">
</head>
<body>

<div class="sidebar">

  <% const m = (typeof menu !== 'undefined' && Array.isArray(menu)) ? menu : []; %>

  <% m.forEach(item => { %>
    <a href="<%= item.url.startsWith('/') ? item.url : '/' + item.url %>">
      <%= item.name %>
    </a>
  <% }) %>

  <div class="sidebar-footer glitch" data-text="<%= lastUpdate %>">

<div class="stats">

  <div name="daily" class="stat-box">
    <% if (lang === "en") { %>
      Daily:<br>
    <% } else { %>
      Napi:<br>
    <% } %>
    <input name="daily" readonly value="<%= stats.today %>">
  </div>

  <div name="average" class="stat-box">
    <% if (lang === "en") { %>
      Average:<br>
    <% } else { %>
      √Ātlag:<br>
    <% } %>
    <input name="average" readonly value="<%= stats.avg %>">
  </div>

  <div name="total" class="stat-box">
    <% if (lang === "en") { %>
      Total:<br>
    <% } else { %>
      √Ėsszes:<br>
    <% } %>
    <input name="total" readonly value="<%= stats.total %>">
  </div>

</div>

  <% if (lang === "en") { %>
      Last update:<br>
  <% } else { %>
    Utols√≥ friss√≠t√©s:<br>
  <% } %>

    <%= lastUpdate %><br>

  <% if (lang === "en") { %>
    Online since:<br>
  <% } else { %>
    Indul√°s d√°tuma:<br>
  <% } %>

  <%= firstStart %><br>

<a href="/privacy"><%= lang === "en" ? "Privacy Policy" : "Adatkezel√©si t√°j√©koztat√≥" %></a>

  </div>

<div class="admin-link">
  <a href="/admin">
    <%= lang === "en" ? "Admin page" : "Admin oldal" %>
  </a>
</div>

</div>

</div>

<div class="content">
  <%- body %>
</div>

</body>
</html>
